* {
  box-sizing: border-box;
}

footer {
  height: 10vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

button {
  margin: auto;
}

.mothership, .defence, .attack {
  display: inline-block;
  text-align: center;
  margin: 5vh 0;
}

.mothership {
  width: 95vw;
}

.defence {
  width: 19vw;
}

.attack {
  width: 12vw;
}