* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  height: 20vh;
  min-width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

button {
  margin: auto;
  font-size: 4vh;
  padding: 10px;
}

#fire {
  background-color: red;
  color: white;
}

#reset {
  background-color: black;
  color: white;
}

.mothership,
.defence,
.attack {
  display: inline-block;
  text-align: center;
  margin: 5vh 0;
  font-size: 4vh;
}

.mothership {
  min-width: 95vw;
  color: purple;
  font-size: 5vh;
}

.defence {
  min-width: 19vw;
  color: blue;
}

.attack {
  min-width: 12vw;
  color: red;
  font-size: 3vh;
}
